<apex:page showHeader="true" sidebar="false" controller="ScheduleWizardController" standardStylesheets="false">
    
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/fullcalendar.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/fullcalendar-custom.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/jquery-ui.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/jquery.timepicker.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap.bs.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap-table.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap-datetimepicker.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/dialog.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/font-awesome.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/styles.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/main.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/loaderStyle.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/sumoselect.css')}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/ScheduleManager/scheduleManager.css')}"/>
    <style>
        /*.fc-month-view .fc-event-container{
            display: none !important;
        }
        */
    </style>    
    <apex:form id="mainForm">
    <apex:outputPanel id="mainpanel">
    <div class="container cloud-wrapper">        
        <apex:actionRegion >
            <div class="sidebar">
                <div class="curve-box calendar-summary">
                    <input id="hiddenDate" type="hidden" />
                    <a class="cal-img" id="pickDate"></a>
                    <div class="content">
                        <h3>{!JSINHTMLENCODE(leftTitle)}</h3>
                        <p>{!JSINHTMLENCODE(leftSubTitle)}</p>
                    </div>
                </div>                
                <div class="curve-box practitioners" id="Locationpicklist">
                    <h3>{!JSINHTMLENCODE(Custset_Location)}</h3>
                    <ul>
                        <li>
                            <select class="locationPickListClsmainScreen" style="width:96%;" id="locationLeftPaneListId">
                               <option value="Any">All</option>
                            </select>                      
                        </li>
                    </ul>
                </div>
                <div class="curve-box practitioners">
                    <h3>{!JSINHTMLENCODE(Custset_Category)}</h3>
                    <ul>
                        <li>
                            <select class="categoryPickListClsmainScreen" style="width:96%;" id="categoryLeftPaneListId">
                                <option value="Any">All</option>
                            </select>                      
                        </li>
                    </ul>
                </div>
                <div class="curve-box practitioners">
                    <h3>Appointment Type</h3>
                     <ul>
                        <li>
                            <select class="appointmentTypePickListClsmainScreen" style="width:96%;" id="appTypLeftPaneListId">
                                <option value="Any">All</option>
                            </select>                      
                        </li>
                    </ul>
                </div>
                <div id="practitionerPanelDiv" class="curve-box practitioners">
                    <h3>{!JSINHTMLENCODE(Custset_Serviceprovider)}</h3>    
                    <ul>
                        <li>
                            <select class="serviceProviderPickListClsmainScreen" id="spLeftPaneListId">
                                <option value="Any">All</option>
                            </select>                      
                        </li>
                    </ul>
                </div>
                <div class="curve-box">
                    <div class="text-center">
                        <button id="resetLeftPaneFiltersBtn">Reset Filters</button>
                    </div>
                </div>
                <div class="curve-box availability">
                    <h3>Waitlist</h3><br/>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="viewwaitlist();">View Waitlist</a></li>
                        <li><a href="javascript:void(0)" onclick="addtowaitlist();">Add to Waitlist</a></li>
                    </ul>
                </div>
                <div class="curve-box availability">
                    <h3>Availability</h3> <br/>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="loadAvailDC();">Manage Availability</a></li>
                        <li><a href="javascript:void(0)" onclick="loadUnavailableDialog();">Manage Unavailability</a></li> 
                    </ul>              
                </div>
                <div class="curve-box availability">
                    <h3>Export</h3><br/>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="exportAppointmentCalendar1();">Export Appointment Calendar</a></li>
                        <li><a href="javascript:void(0)" onclick="exportAppointmentCalendar2();">iCal Feed Subscription</a></li> 
                    </ul>
                </div>
                <div class="curve-box availability">
                    <h3>Navigate To</h3><br/>
                    <ul>
                        <li><a href="javascript:void(0)" id="resourceAvailabilityPageLink">Resource Availability</a></li>
                        <li><a href="javascript:void(0)" id="configurePageLink">Configure</a></li> 
                    </ul>
                </div>
            </div>
            <div class="cal-area">
                <div class="curve-box">
                    <div id='calendar_new'></div>
                </div>
            </div>
            <div id="schedulerID" class="bs dialogboxs modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearexportdata()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Export Appointment Calendar</h4>
                    </div>
                <div class="modal-body" >
                    <div> 
                        <div class="col-md-12">
                            <div class="form-group">                                
                                <label for="">Select {!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                                <apex:selectList value="{!selectedPractitionerId}" size="1" id="selectPractitionerforcalendar" styleClass="form-control" onchange="getSelectedid(this.value)">
                                    <apex:selectOption itemValue="" itemLabel="Select"></apex:selectOption>
                                    <apex:selectOptions value="{!GlobalpractitionerList}"></apex:selectOptions>
                                 </apex:selectList>  
                                 <div id="selectPractitionerforcalendarErr" class="popupErrMsg"></div>                              
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-6 col-sm-6">                        
                        <div class="form-group">
                            <label for="">Start Date</label>
                            <div class="input-group input-group-unstyled" id="exportfromdate">                  
                                <input type="text" class="form-control" id="strDate"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <div id="exportfromdateErr" class="popupErrMsg"></div> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="">End Date</label>
                            <div class="input-group input-group-unstyled" id="exporttodate">                  
                                <input type="text" class="form-control" id="endDate" />
                                 <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                 </span>
                            </div>
                            <div id="exporttodateErr" class="popupErrMsg"></div>
                        </div>
                    </div>     
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">             
                    <button type="button" class="btn btn-dialog" id="generateCalender"  onclick="generatecalender()">EXPORT</button>
                </div>
              </div>
            </div>
        </div>  
          
        <!--Ical code goes here-->
        <div class="bs dialogboxs modal"  role="dialog" id="icalID">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">iCal Feed Subscription</h4>
              </div>
              <div class="modal-body">              
                <div class="col-md-12">
                    <!-- <apex:form html-name="iCalFeedForm"> -->
                        <div class="form-group">
                            <label for="">Select {!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                            <apex:selectList style="height: 33px;margin-top:4px;" value="{!selectedPractitionerId}"  size="1" id="selectPractitionerforfeed" html-name="selectPractitionerforfeed" styleClass="form-control" onchange="getSelectedid(this.value)">
                                <apex:selectOption itemValue="" itemLabel="Select"></apex:selectOption>
                                <apex:selectOptions value="{!GlobalpractitionerList}"></apex:selectOptions>
                            </apex:selectList>
                            <div id="selectPractitionerforfeedErr" class="popupErrMsg"></div>
                        </div>
                    <!-- </apex:form> -->
                </div> 
              </div>
              <div class="clearfix"></div>
              <div class="modal-footer">               
                <button type="button" class="btn btn-dialog" id="generateiCalender"  onclick="generateicalender()">GENERATE LINK</button>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div class="form-group">
                     <output id="copyIcalLinkWrapper"></output>  
                </div>
              </div> 
              <div class="clearfix"></div>
            </div>
          </div>
        </div> 
        </apex:actionRegion> 
    </div>
</apex:outputPanel>
</apex:form>

 <!--code for add to waitlist-->
<div class="bs dialogboxs modal" tabindex="-1" role="dialog" id="addtowait">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add To Waitlist</h4>
      </div>
      <div class="modal-body modeltabs">
         <ul role="tablist" class="nav nav-tabs" id="addToWaitListTabs">
             <li class="active" role="presentation" style="margin-left:0px">
                 <a aria-expanded="false" aria-controls="existingPatientTabContent" data-toggle="tab" role="tab" id="existingPatientTabAddToWait" href="#existingPatientTabContent">
                     Existing {!JSINHTMLENCODE(Custset_Customer)}
                 </a>
             </li> 
             <li role="presentation" style="margin-left:0px">
                 <a aria-expanded="false" aria-controls="newPatientTabContent" data-toggle="tab" role="tab" id="newPatientTabAddToWait" href="#newPatientTabContent">New {!JSINHTMLENCODE(Custset_Customer)}</a>
             </li>
          </ul>
            <div id="waitlistsuccessmsg"></div>
            <form name="waitlistform" id="waitlistform">
                <div class="col-md-12">
                    <div class="dialogtitle">{!JSINHTMLENCODE(Custset_Customer)} Information</div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" id="AddtowaitSearchDiv">
                        <label for="">{!JSINHTMLENCODE(Custset_Customer)} Name</label>
                        <div class="input-group input-group-unstyled">                  
                            <input type="text" class="form-control" name="existingPatientName" id="existingPatientNameAddtowait"/>
                            <span class="input-group-addon" onclick="openSearchPatientDialog('existingPatientNameAddtowait','waitlistform')">
                                <i class="fa searchlogo"><img src="{!URLFOR($Resource.Appointed, 'appointed/images/lookup.png')}" alt="" /></i>
                            </span>
                            <input type="hidden" name="extistingPatientId" value=""/>
                            <input type="hidden" name="extistingPatientEmail" value=""/>
                        </div>
                    </div>
                    <div class="row existingCustInfoDynamic"></div>
                </div>  
                <div id="Addtowaitnewpatient" style="display: none">            
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control"  id="email" name="waitlistemail"/>
                        </div>
                    </div>
                    
                    <div class="block">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                 <label for="">First Name</label>
                                 <input type="text" class="form-control"  id="fn" name="waitlistfn" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Last Name</label>
                               <input type="text" class="form-control"  id="ln" name="waitlistln" />
                            </div>
                        </div> 
                        <div class="clearfix"></div>                             
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="">Phone Number</label>
                                <input type="text" class="form-control" id="phn" name="waitlistphn" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6"> 
                            <div class="form-group">
                                <label for="">Date Of Birth (Optional)</label>
                                <div class="input-group input-group-unstyled" id="birthdate">  
                                    <input type="text" class="form-control" id="bd" name="waitlistbd"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="dialogtitle">Appointment Information</div>                          
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="">{!JSINHTMLENCODE(Custset_Location)}</label>
                        <select class="locationPickListClsAddtowaitScreen form-control" name="selectLocationforwaitlist" id="selectLocationforwaitlist"></select>                        
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="">{!JSINHTMLENCODE(Custset_Category)}</label> 
                        <select class="categoryPickListClsAddtowaitScreen form-control" name="selectCategoryforwaitlist" id="selectCategoryforwaitlist"></select>                         
                    </div>
                </div>
                 <div class="clearfix"></div>
                 <div class="col-md-6 col-sm-6">
                     <div class="form-group">
                         <label for="">Appointment Type</label>
                         <select class="appointmentTypePickListClsAddtowaitScreen form-control" name="selectatforwaitlist" id="selectatforwaitlist"></select>                         
                     </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="">{!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                        <select class="serviceProviderPickListClsAddtowaitScreen form-control" name="selectPractitionerforwaitlist" id="selectPractitionerforwaitlist"></select>                           
                    </div>
                </div>
                 <div class="clearfix"></div>
                <div class="col-md-12">                    
                    <div class="form-group">
                        <label for="" >Notes (Optional)</label>
                        <!--<apex:inputField value="{!addtowaitlist.Eventdetails.Description}" styleClass="form-control" id="descwait" html-maxlength="250" />-->
                         <textarea class="form-control" row="3" placeholder="" maxlength="250" name="descwait" id="descwait" onkeyup="remainingchars()"></textarea>   
                         <div id="showremainingtext"></div>         
                    </div>
                </div>
            </form>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">               
        <button type="button" onclick="recSave('selectLocationforwaitlist','selectCategoryforwaitlist','selectatforwaitlist','selectPractitionerforwaitlist','email','fn','ln','phn','bd','descwait');" class="btn btn-dialog">Add</button>
      </div>
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog--> 
</div><!-- /.modal -->     
               
       
<div id="waitBox" class="waitingBox"></div><!-- Loader div gose here -->

<div class="bs dialogboxs modal" id="viewwaitlist" role="dialog">
  <div class="modal-dialog waitlist">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Waitlist</h4>
      </div>
      <div class="modal-body"> 
        <div class="col-md-12" style="padding-bottom:15px;">
            <table id="table11" class="table table-no-bordered"></table>
        </div>
      </div>
      <div class="clearfix"></div>     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="bs dialogboxs modal" id="fillFromWaitlistDialog" role="dialog">
  <div class="modal-dialog waitlist">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Waitlist</h4>
      </div>
      <div class="modal-body"> 
        <div class="col-md-12" style="padding-bottom:15px;">
            <table id="fillFromWaitlistGrid" class="table table-no-bordered"></table>
        </div>
      </div>
      <div class="clearfix"></div>     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="bs dialogboxs modal" id="filteredviewwaitlist" role="dialog">
  <div class="modal-dialog waitlist">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Waitlist</h4>
      </div>
      <div class="modal-body"> 
        <div class="col-md-12" style="padding-bottom:15px;">
            <table id="filteredtable" class="table table-no-bordered"></table>
        </div>
      </div>
      <div class="clearfix"></div>             
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->  
 
<div class="bs dialogboxs modal" id="responseMsgPopup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">              
        <div class="col-md-12">
            <p class="sucess"><i class="fa fa-check-circle"></i></p>
        </div>              
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">               
        <button type="button" class="btn btn-dialog" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  

<!-- Make new appointment popup start -->
<div class="bs dialogboxs modal" id="makeNewAppointmentDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Make A New Appointment</h4>
            </div>
            <div class="modal-body modeltabs">                
                <ul role="tablist" class="nav nav-tabs nonClassPatientInfoBlock" id="newAppointmentTabs">
                    <li class="active" role="presentation" style="margin-left:0px">
                        <a aria-expanded="false" aria-controls="existingPatientTabContent" data-toggle="tab" role="tab" id="existingPatientTab" href="#existingPatientTabContent">
                            Existing {!JSINHTMLENCODE(Custset_Customer)}
                        </a>
                    </li> 
                    <li role="presentation" style="margin-left:0px">
                        <a aria-expanded="false" aria-controls="newPatientTabContent" data-toggle="tab" role="tab" id="newPatientTab" href="#newPatientTabContent">New {!JSINHTMLENCODE(Custset_Customer)}</a>
                    </li>
                </ul>
                <div class="tab-content" id="newAppPatientTabContent">
                    <div aria-labelledby="existingPatientTab" id="existingPatientTabContent" class="tab-pane fade active in" role="tabpanel"></div>
                    <div aria-labelledby="newPatientTab" id="newPatientTabContent" class="tab-pane fade" role="tabpanel"></div>
                        <form id="createNewAppointmentForm">
                            <div class="col-md-12 nonClassPatientInfoBlock">
                                <div class="dialogtitle">{!JSINHTMLENCODE(Custset_Customer)} Information</div>
                            </div>                          
                            <div class="col-md-12" id="makeNewAppExistPatientBlock">
                                <div class="redClassAppointmentSection">Class Appointment</div>
                                <div class="nonClassPatientInfoBlock">
                                    <div class="form-group">
                                        <label for="">{!JSINHTMLENCODE(Custset_Customer)} Name</label>
                                        <div class="input-group input-group-unstyled">                  
                                            <input type="text" class="form-control" name="existingPatientName" id="existingPatientName"/>
                                            <span class="input-group-addon" id="mnaepSearchBtn">
                                                <i class="fa"><img src="{!URLFOR($Resource.Appointed, 'appointed/images/lookup.png')}" alt="" /></i>
                                            </span>
                                            <input type="hidden" name="extistingPatientId" value=""/>
                                            <input type="hidden" name="extistingPatientEmail" value=""/>
                                            <input type="hidden" name="waitlistEventId" value=""/>
                                        </div>
                                    </div>
                                    <div class="row existingCustInfoDynamic"></div>
                                    <div class="fillFromWaitlistWrapper">
                                        <div class="text-center">OR</div>
                                        <div classs="form-group">
                                            <a href="javascript:void(0)" id="mnaepFFWaitlistBtn">Fill from Waitlist</a>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="clearfix"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="dividerline"></div>
                                </div>
                            </div>
                            <div id="makeNewAppNewPatientBlock" style="display:none">
                                <div class="redClassAppointmentSection col-md-12">
                                    Class Appointment
                                    <div class="col-md-12 col-sm-12">
                                        <div class="dividerline"></div>
                                    </div>                                    
                                </div>
                                <div class="nonClassPatientInfoBlock">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input type="email" class="form-control" id="newappemail" name="newappemail" />
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="">First Name</label>
                                                <input type="text" class="form-control" id="newappfname" name="newappfname" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="">Last Name</label>
                                                <input type="text" class="form-control" id="newapplname" name="newapplname" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="">Phone Number</label>
                                                <input type="text" class="form-control" id="newappPhone" name="newappPhone" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="">Birth Date (Optional)</label>
                                                <div class="input-group input-group-unstyled" id="newappBirthDateIcon">                    
                                                    <input type="text" class="form-control" id="newappBirthDate" name="newappBirthDate" />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>                                
                            </div>  
                            <div class="col-md-12">
                                <div class="dialogtitle">Appointment Information</div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">{!JSINHTMLENCODE(Custset_Location)}</label>
                                   <select class="locationPickListClsNewappScreen form-control" name="selectLocationfornewapp" id="selectLocationfornewapp">
                                       <option> -- Select --</option>   
                                   </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">{!JSINHTMLENCODE(Custset_Category)}</label>
                                   <select class="categoryPickListClsNewappScreen form-control" id="selectCategoryfornewapp" name="selectCategoryfornewapp">
                                      <option> -- Select --</option>   
                                   </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">Appoinment Type</label>
                                   <select class="appointmentTypePickListClsNewappScreen form-control" id="selectatfornewapp" name="selectatfornewapp">
                                   <option> -- Select --</option>   
                                   </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">{!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                                   <select class="serviceProviderPickListClsNewappScreen form-control" id="selectPractitionerfornewapp" name="selectPractitionerfornewapp">
                                       <option> -- Select --</option>   
                                   </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">Date</label>
                                   <div class="input-group input-group-unstyled appointmentDateIcon">                   
                                      <input type="text" class="form-control" name="appointmentDate" id="appointmentDate" />
                                      <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                      </span>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <label for="">Time</label>
                                   <div class="form-group timepicker">
                                      <div class="col-md-6">
                                          <select class="form-control" name="startTime" id="startTimenewapp"></select>
                                      </div>
                                      <div class="col-md-6">
                                          <select  class="form-control" name="endTime" id="endTimenewapp"></select>
                                      </div>
                                   </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12">
                                <div class="dividerline"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 recurringWrapper">
                                <label for="">Recurring (Optional)</label>
                                <div class="form-group">
                                   <div class="timecount">
                                      <ul>
                                         <li>
                                            <input type="text" class="form-control" maxlength="3" name="recurringCount"/>
                                            <span>Times</span>
                                         </li>
                                      </ul>
                                   </div>
                                   <div class="timecountradio">
                                      <label class="radio-inline">
                                      <input type="radio" name="recurringType" value="Daily" /> Daily
                                      </label>
                                      <label class="radio-inline">
                                      <input type="radio" name="recurringType" value="Weekly" /> Weekly
                                      </label>
                                      <label class="radio-inline">
                                      <input type="radio" name="recurringType" value="Monthly" /> Monthly
                                      </label>
                                   </div>
                                   <div class="clearfix"></div>
                                   <div id="recurringErrors"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group" style="margin-bottom: 0px;">
                                   <label for="">Comments (Optional)</label>
                                   <textarea class="form-control" rows="3" name="newappComments" onkeyup="makeNewAppNotesRemainingchars()" maxlength="250"></textarea>
                                   <div id="makeNewAppShowremainingtext" style="font-size: 12px;"></div>                                      
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 addToWaitlistWrapper">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="alsoAddMeToWaitlist" value="true" />Also Add to Waitlist</label>
                                </div>
                            </div>
                        </form>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">              
                <button type="button" id="createNewAppointmentBtn" class="btn btn-dialog">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Make new appointment popup end -->

<div class="bs dialogboxs modal"  id="patientSearchDialog" role="dialog">
    <div class="modal-dialog patientListDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search {!JSINHTMLENCODE(Custset_Customer)}</h4>
            </div>
            <div class="modal-body"> 
                <div class="col-md-12" style="padding-bottom:15px;">                    
                    <table id="searchPatientGrid" class="table table-no-bordered"></table>                    
                </div>
            </div>
            <div class="clearfix"></div>             
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
    
<div class="bs dialogboxs modal"  id="patientRemoveDialog" role="dialog">
    <div class="modal-dialog patientListDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Participant List</h4>
            </div>
            <div class="modal-body"> 
                <div class="col-md-12" style="padding-bottom:15px">                    
                    <table id="removePatientGrid" class="table table-no-bordered"></table>                    
                </div>
            </div>
            <div class="clearfix"></div>             
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
    
<!-- Edit appointment popup start -->
<div class="bs dialogboxs modal" id="editAppointmentDialog" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Appointment</h4>
       </div>
       <div class="modal-body">
          <form id="editAppointmentForm">
             <div class="col-md-12">
                <div class="dialogtitle">{!JSINHTMLENCODE(Custset_Customer)} Information</div>
             </div>
             <div class="col-md-12">
                <div class="form-group">
                   <label for="">Email</label>
                   <input type="email" class="form-control" id="editAppemail" value="" name="editAppemail" readonly="readonly"/>
                </div>
             </div>
             <div class="block">
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" id="editAppfname" value="" name="editAppfname" />
                   </div>
                </div>
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                      <label for="">Last Name</label>
                      <input type="text" class="form-control" id="editApplname" value="" name="editApplname" />
                   </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                      <label for="">Phone Number</label>
                      <input type="text" class="form-control" id="editAppPhone" value="" name="editAppPhone" />
                   </div>
                </div>
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                      <label for="">Birth Date (Optional)</label>
                      <div class="input-group input-group-unstyled" id="editAppBirthDateIcon">                    
                         <input type="text" class="form-control" id="editAppBirthDate" value="" name="editAppBirthDate" />
                         <span class="input-group-addon">
                         <i class="fa fa-calendar"></i>
                         </span>
                      </div>
                   </div>
                </div>
                <div class="clearfix"></div>
             </div>
             <div class="col-md-12">
                <div class="dialogtitle">Appointment Information</div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">{!JSINHTMLENCODE(Custset_Location)}</label>
                   <!--<input type="text" class="form-control" name="editAppLocation" value="" id="editAppLocation" disabled="disabled"/>
                   <input type="hidden" name="editAppLocationId" /> -->
                   <select name="editAppLocation" id="editAppLocation" class="form-control locationPickListClsEditappScreen">
                        <option>--All--</option> 
                   </select>
                </div>
             </div>              
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">{!JSINHTMLENCODE(Custset_Category)}</label>
                    <!--<input type="text" class="form-control" name="editAppCategory" value="" id="editAppCategory" disabled="disabled"/>
                    <input type="hidden" name="editAppCategoryId" /> -->
                    <select name="editAppCategory" id="editAppCategory" class="form-control categoryPickListClsEditappScreen">
                        <option>--All--</option> 
                    </select>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Appoinment Type</label>
                    <!--<input type="text" class="form-control" name="editAppAppType" value="" id="editAppAppType" disabled="disabled"/>
                    <input type="hidden" name="editAppAppTypeId" /> -->
                    <select name="editAppAppType" id="editAppAppType" class="form-control appointmentTypePickListClsEditappScreen">
                        <option>--All--</option> 
                    </select>
                </div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">{!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                   <!-- <input type="text" class="form-control" name="editAppPractitioner" value="" id="editAppPractitioner" disabled="disabled"/>
                   <input type="hidden" name="editAppPractitionerId" /> -->
                   <select name="editAppPractitioner" id="editAppPractitioner" class="form-control serviceProviderPickListClsEditappScreen">
                        <option>--All--</option>    
                   </select>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">Date</label>
                   <div class="input-group input-group-unstyled" id="editAppointmentDateIcon">                   
                      <input type="text" class="form-control" name="editAppointmentDate" id="editAppointmentDate" />
                      <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                      </span>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">Time</label>
                   <div class="form-group timepicker">
                      <div class="col-md-6">
                          <select class="form-control" name="editAppStartTime" id="editAppStartTime"></select>
                      </div>
                      <div class="col-md-6">
                          <select  class="form-control" name="editAppEndTime" id="editAppEndTime"></select>
                      </div>
                   </div>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-12 col-sm-12">
                <div class="dividerline"></div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-12 col-sm-12">
                <div class="form-group">
                   <label for="">Comments (Optional)</label>
                   <textarea class="form-control" rows="3" name="editAppComments" value="" maxlength="250"></textarea>
                   <div id="editAppShowremainingtext"></div>  
                   <input type="hidden" name="editAppMaxParticipant" />
                    <input type="hidden" name="editAppAppId" />
                </div>
             </div>
          </form>
       </div>
       <div class="clearfix"></div>
       <div class="modal-footer">              
          <button type="button" id="updateAppointmentBtn" class="btn btn-dialog">Save</button>
       </div>
    </div>
    <!-- /.modal-content -->
 </div>
 <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Edit appointment popup ends -->   
    
<!-- Edit class appointment popup start -->
<div class="bs dialogboxs modal" id="editClassAppointmentDialog" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Appointment</h4>
       </div>
       <div class="modal-body">
          <form id="editClassAppointmentForm">
             <div class="col-md-12">
                <div class="dialogtitle">Appointment Information</div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">{!JSINHTMLENCODE(Custset_Location)}</label>
                   <select name="editClassAppLocation" id="editClassAppLocation" class="form-control locationPickListClsEditClassappScreen"></select>
                </div>
             </div>              
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">{!JSINHTMLENCODE(Custset_Category)}</label>
                    <select name="editClassAppCategory" id="editClassAppCategory" class="form-control categoryPickListClsEditClassappScreen"></select>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Appoinment Type</label>
                    <select name="editClassAppAppType" id="editClassAppAppType" class="form-control appointmentTypePickListClsEditClassappScreen"></select>
                </div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">{!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                   <select name="editClassAppPractitioner" id="editClassAppPractitioner" class="form-control serviceProviderPickListClsEditClassappScreen"></select>
                </div>
             </div>
             <div class="clearfix"></div>             
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">Date</label>
                   <div class="input-group input-group-unstyled" id="editClassAppointmentDateIcon">                   
                      <input type="text" class="form-control" name="editClassAppointmentDate" id="editClassAppointmentDate" />
                      <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                      </span>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-sm-6">
                <div class="form-group">
                   <label for="">Time</label>
                   <div class="form-group timepicker">
                      <div class="col-md-6">
                          <select class="form-control" name="editClassAppStartTime" id="editClassAppStartTime"></select>
                      </div>
                      <div class="col-md-6">
                          <select  class="form-control" name="editClassAppEndTime" id="editClassAppEndTime"></select>
                      </div>
                   </div>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-12 col-sm-12">
                 <input type="hidden" name="editClassAppMaxParticipant" />
                 <input type="hidden" name="editClassAppAppId" />                 
                <div class="dividerline"></div>
             </div>
             <div class="clearfix"></div>
          </form>
       </div>
       <div class="clearfix"></div>
       <div class="modal-footer">              
          <button type="button" id="updateClassAppointmentBtn" class="btn btn-dialog">Update</button>
       </div>
    </div>
    <!-- /.modal-content -->
 </div>
 <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Edit class appointment popup ends -->   

<!-- Add patient popup start -->
<div class="bs dialogboxs modal" id="addPatientDialog" tabindex="-1" role="dialog">
 <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Participant</h4>
       </div>
       <div class="modal-body modeltabs">
          <ul role="tablist" class="nav nav-tabs" id="addPatientTabs">
              <li class="active" role="presentation" style="margin-left:0px">
                  <a aria-expanded="false" aria-controls="addexistingPatientTabContent" data-toggle="tab" role="tab" id="addexistingPatientTab" href="#addexistingPatientTabContent">
                      Existing {!JSINHTMLENCODE(Custset_Customer)}
                  </a>
              </li> 
              <li role="presentation" style="margin-left:0px">
                  <a aria-expanded="false" aria-controls="addNewPatientTabContent" data-toggle="tab" role="tab" id="addNewPatientTab" href="#addNewPatientTabContent">New {!JSINHTMLENCODE(Custset_Customer)}</a>
              </li>
          </ul>
          <div class="tab-content" id="addPatientTabContent">
              <form id="addPatientForm">
                 <div class="col-md-12">
                    <div class="dialogtitle">Participant Information</div>
                 </div>
                 <div id="addExistingPatientBlock">
                     <div class="col-md-12">
                         <div class="form-group">
                             <label for="">{!JSINHTMLENCODE(Custset_Customer)} Name</label>
                             <div class="input-group input-group-unstyled">                  
                                 <input type="text" class="form-control" name="existingPatientName" id="addP_existingPatientName"/>
                                 <span class="input-group-addon" onclick="openSearchPatientDialog('addP_existingPatientName','addPatientForm')">
                                     <i class="fa searchlogo"><img src="{!URLFOR($Resource.Appointed, 'appointed/images/lookup.png')}" alt="" /></i>
                                 </span>
                                 <input type="hidden" name="extistingPatientId" value=""/>
                                 <input type="hidden" name="extistingPatientEmail" value=""/>
                             </div>
                         </div>
                         <div class="row existingCustInfoDynamic"></div>
                     </div>
                 </div>
                 <div id="addNewPatientBlock" style="display:none">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="">Email</label>
                           <input type="email" class="form-control" id="patientEmail" name="patientEmail"/>
                        </div>
                     </div>
                     <div class="block">
                        <div class="col-md-6 col-sm-6">
                           <div class="form-group">
                              <label for="">First Name</label>
                              <input type="text" class="form-control" id="patientFname" name="patientFname"/>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                           <div class="form-group">
                              <label for="">Last Name</label>
                              <input type="text" class="form-control" id="patientLname" name="patientLname"/>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6 col-sm-6">
                           <div class="form-group">
                              <label for="">Phone Number</label>
                              <input type="text" class="form-control" id="patientPhone" name="patientPhone"/>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                           <div class="form-group">
                              <label for="">Birth Date (Optional)</label>
                              <div class="input-group input-group-unstyled" id="patientBirthDateIcon">                    
                                 <input type="text" class="form-control" id="patientBirthDate" name="patientBirthDate"/>
                                 <span class="input-group-addon">
                                 <i class="fa fa-calendar"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <input type="hidden" name="appointmentId" value="" />
                    </div>                 
                    <div class="clearfix"></div>
                 </div>
              </form>
          </div>          
       </div>
       <div class="clearfix"></div>
       <div class="modal-footer">              
          <button type="button" id="addNewPatientBtn" class="btn btn-dialog">Add Participant</button>
       </div>
    </div>
    <!-- /.modal-content -->
 </div>
 <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Add patient popup ends -->    
    
<!-- Working time slot modal -->
<div class="bs dialogboxs modal" id="workingTimeSlotDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Availibility Management</h4>
            </div>
            <div class="modal-body">            
                <form name="workingTimeSlotForm">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Select {!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                            <select class="form-control" id="practlistforavailability" name="WTS_serviceProvider">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Set {!JSINHTMLENCODE(Custset_Location)}</label>
                            <select class="form-control" name="WTS_location" id="WTS_location">     
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>                          
                    <div class="col-md-6">
                        <label>START &#38; FINISH TIME</label>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="clearfix"></div>
                    <div id="WTS_ErrorMsg" class="col-md-12"></div>
                    <div class="col-md-12 timepanel avail">
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_1"/> Mon                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_1">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_1">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_1"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_1">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_1">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_1"></span>                                      
                                </div>
                            </li>
                        </ul>                           
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_2"/> Tue                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_2">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_2">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_2"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_2">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_2">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_2"></span>                                      
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_3"/> Wed                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_3">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_3">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_3"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_3">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_3">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_3"></span>                                      
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_4"/> Thu                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_4">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_4">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_4"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_4">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_4">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_4"></span>                                      
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_5"/> Fri                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_5">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_5">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_5"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_5">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_5">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_5"></span>                                      
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_6"/> Sat                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_6">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_6">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_6"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_6">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_6">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_6"></span>                                      
                                </div>
                            </li>
                        </ul>
                        
                        <ul class="pull-left ">
                            <li>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="WTSDay_7"/> Sun                             
                                </label>                                    
                                <select class="form-control pull-left WT_timeSlotListFill" name="start1_7">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end1_7">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                                <div  class="errorlist">
                                    <span id="WT_error1_7"></span>                                      
                                </div>
                            </li>
                            <li class="finishtime">
                                <select class="form-control pull-left WT_timeSlotListFill" name="start2_7">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                            
                                <select class="form-control pull-left WT_timeSlotListFill" name="end2_7">
                                  <option>12.30</option>
                                  <option>12.30</option>
                               </select>
                               <div  class="errorlist">
                                    <span id="WT_error2_7"></span>                                      
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>         
            </div>
          <div class="clearfix"></div>
          <div class="modal-footer">               
            <button type="button" id="saveWorkingTimeSlotBtn" class="btn btn-dialog saveWorkingTimeSlotBtn">Save</button>
            <button type="button" id="saveAndCloseWorkingTimeSlotBtn" class="btn btn-dialog saveWorkingTimeSlotBtn">Save &#38; close</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Working time slot modal ends -->
  <!--Unavailability pop up starts-->
  <div class="bs dialogboxs modal" id="unavailabilityDialog" tabindex="-1" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Manage Unavailablity</h4>
               </div>
               <div class="modal-body">
                  <form name="UnavailablityForm">
                  <div class="block">
                      <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                              <label for="">{!JSINHTMLENCODE(Custset_Serviceprovider)}</label>
                              <select class="form-control" name="unavailability_practitioner" id="unavailability_practitioner"></select>
                          </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                              <label for="">{!JSINHTMLENCODE(Custset_Location)}</label>
                              <select class="form-control" name="unavailability_location" id="unavailability_location">
                                  <option value="">--Select--</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6 ">
                          <label for="">Sart Date</label>                  
                          <div class="form-group">                            
                              <div class="input-group input-group-unstyled p_bottom" id="unavailability_calsdIcon">                 
                                  <input type="text" class="form-control" name="unavailability_startDate" placeholder="Start Date"/>
                                  <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                  </span>
                              </div>
                              <div id="unavailabilityStartDateError"></div>
                              <div class="text-right">To</div>
                              <label for="">End Date</label>
                              <div class="input-group input-group-unstyled" id="unavailability_caledIcon">                  
                                  <input type="text" class="form-control" name="unavailability_endDate" placeholder="End Date"/>
                                  <span class="input-group-addon">
                                      <i class="fa fa-calendar"></i>
                                  </span>
                              </div>
                              <div id="unavailabilityEndDateError"></div>
                          </div>
                      </div>
                      <div class="col-md-6 partition" id="timePartitionSection">
                          <label for="">Start Time</label>                  
                          <div class="form-group" style="margin-bottom: 0px;">                            
                              <div class="input-group input-group-unstyled p_bottom">                 
                                  <select class="form-control" name="unavailability_startTime" id="unavailability_startTime"></select>
                              </div>
                              <div id="unavailabilityStartTimeError"></div>
                              <div class="text-center" style="padding: 9px;"></div>
                              <label for="">End Time</label>
                              <div class="input-group input-group-unstyled">                  
                                  <select class="form-control" name="unavailability_endTime" id="unavailability_endTime"></select>
                              </div>
                          </div>
                          <div id="unavailabilityTimeError"></div>
                      </div>
                    </div>
                    <div class="clearfix"></div> 
                    <div class="col-md-12 col-sm-12">
                        <div class="checkbox">
                            <label><input type="checkbox" name="allDaySlot" />All day</label>
                        </div>
                    </div>
                    <div class="clearfix"></div> 
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group"> 
                            <label for="">Reason (Optional)</label>                        
                            <textarea class="form-control" rows="3" name="unavailability_reason" placeholder="" maxlength="250"></textarea>                                       
                        </div>
                    </div>
                  </form>
               </div>
               <div class="clearfix"></div>
               <div class="modal-footer">              
                  <button type="button" class="btn btn-dialog" id="saveUnavailabilityData" onClick="createUnavailablity();">Save</button>
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
  <!--unavailability pop up ends-->

<div id="confirm_dialog" class="bs dialogboxs modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
         <div class="col-md-12">
            <p>Are you sure you want to delete {!JSINHTMLENCODE(Custset_Customer)} from waitlist !</p>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-dialog" id="delete_user">Delete</button>
        <button type="button" data-dismiss="modal" class="btn btn-dialog">Cancel</button>
      </div>
     </div>
    </div>
</div> 
    
<div id="wts_confirm_changes_dialog" class="bs dialogboxs modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
         <div class="col-md-12">
            <p>You have not saved your changes. Do you want to continue.</p>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-dialog" id="wtsChangesContinue">Continue</button>
        <button type="button" data-dismiss="modal" class="btn btn-dialog" id="wtsChangesCancel">Cancel</button>
      </div>
     </div>
    </div>
</div> 
    
    <script>
        Visualforce.remoting.timeout = 120000; 
        /*Global script variable goes here*/

        var mainStartTimeVar = '{!mainStartTime}';
        var mainEndTimeVar = "{!mainEndTime}";
        var localeVar = '{!locale}';
        var newUnavaliable = false;
        var isEpracAdminVar = '{!isEpracAdmin}';
        var defaultServiceProviderIdVar = '{!defaultServiceProviderId}'; 
        var serviceprovidervaluefrommetadata='{!JSINHTMLENCODE(Custset_Serviceprovider)}';
        var Customercustomsettings='{!JSINHTMLENCODE(Custset_Customer)}';
        var metaDataLocation = '{!JSINHTMLENCODE(Custset_Location)}';
        var metaDataCategory = '{!JSINHTMLENCODE(Custset_Category)}';
        var metaDataAssistant = '{!JSINHTMLENCODE(Custset_Assistant)}';
        
        var metaDataCustomers = '{!JSINHTMLENCODE(Custset_CustomerPlural)}';
        var metaDataServiceProviders = '{!JSINHTMLENCODE(Custset_ServiceproviderPlural)}';
        var metaDataLocations = '{!JSINHTMLENCODE(Custset_LocationPlural)}';
        var metaDataCategories = '{!JSINHTMLENCODE(Custset_CategoryPlural)}';
        var metaDataAssistants = '{!JSINHTMLENCODE(Custset_AssistantPlural)}';
        
        var selectedpracforfeed='{!$Component.mainForm.selectPractitionerforfeed}';
        var selectedpracforexport='{!$Component.mainForm.selectPractitionerforcalendar}';
        var selectedpracforworkTs='{!$Component.mainForm.practlistforavailability}';
        var dateFormatLocale='{!dateFormatStatic}';
        
        var packageNamespace = '{!packageNamespace}';
    
        console.log(dateFormatLocale);
        var idofpract;
      
        var data ;
    </script>
    
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/ie10-viewport-bug-workaround.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-1.11.3.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/ZeroClipboard.Core.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/ZeroClipboard.min.js')}"/>    
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap-table.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/moment.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/fullcalendar.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-ui.custom.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/fastclick.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.timepicker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-ui.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/clipboard.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.sumoselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap-datetimepicker.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.validate.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/additional-methods.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/SRTimeSelectionPlugin.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/utility.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/dataModel.js')}"/>
    
<apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/ScheduleManager/ScheduleWizardJS.js')}"/>

<script> 
$(document).ready(function(){
    
    var data = app.utility.parseResult('{!HTMLENCODE(dataString)}');
    console.log(data);
    if(data.ErrorMsg == ""){
         updateDropDowns(data, 'mainScreen');            
         updateDropDowns(data, 'AddtowaitScreen');
         updateDropDowns(data, 'NewappScreen');
         updateDropDowns(data, 'EditappScreen'); 
         updateDropDowns(data, 'EditClassappScreen'); 
         updateDropDowns(data, 'ExistingPatientAppScreen');    
        //updateDropDownFromSessionStorage(data, 'mainScreen');          
    }     
    var isResetFilterRequired = false;
    $('#resetLeftPaneFiltersBtn').click(function(ev){
        ev.preventDefault();
        if(data.ErrorMsg == ""){
            var locId = $('#locationLeftPaneListId').val();
            var catId = $('#categoryLeftPaneListId').val();
            var appTypId = $('#appTypLeftPaneListId').val();
            var pracId = $('#spLeftPaneListId').val();
            if(locId == "Any" && catId == "Any" && appTypId == "Any" && pracId == "Any"){
            }else{
                updateDropDowns(data, 'mainScreen');
                sessionStorage.removeItem('leftPaneCriteria');
            }            
        }
    });     
}); 
     var CONFIG_REMOTING = {
        UPSERT_APPOINTMENT: '{!$RemoteAction.ScheduleWizardController.upsertAppointment}',
        GET_WORKINGTIMESLOT_DATA: '{!$RemoteAction.ScheduleWizardController.GetWorkingTimeslotofSP}',
        SAVE_WORKINGTIMESLOT_DATA: '{!$RemoteAction.ScheduleWizardController.SaveWorkingTimeslotofSP}',
        ADD_PATIENT_TO_CLASSAPPOINTMENT: '{!$RemoteAction.ScheduleWizardController.addPatientToClassAppointment}',
        GET_SERVICEPROVIDER_LIST: '{!$RemoteAction.ScheduleWizardController.GetServProviderList}',
        ADD_USER_TO_WAITLIST: '{!$RemoteAction.ScheduleWizardController.invokeaddtowaitlist}',
        CHECK_EXISTING_CONTACT: '{!$RemoteAction.ScheduleWizardController.Checkforexistingcontact}',
        GET_WAITLIST_DATA: '{!$RemoteAction.ScheduleWizardController.loadviewwaitlist}',
        GET_ICAL_SUBSCRIPTION_LINK: '{!$RemoteAction.ScheduleWizardController.sendICalendarfeed}',
        SEND_APPOINTMENT_CALENDAR: '{!$RemoteAction.ScheduleWizardController.sendAppointmentCalendar}',
        CHECK_SITEURL_CONFIGURED: '{!$RemoteAction.ScheduleWizardController.Checkforsite}',
        REMOVE_FROM_WAITLIST: '{!$RemoteAction.ScheduleWizardController.Deletefromgridwaitlist}',
        REPLACE_WITH_WAITLIST: '{!$RemoteAction.ScheduleWizardController.ReplaceWithWaitlist}',
        GET_APPOINTMENT_WAITLIST_DATA: '{!$RemoteAction.ScheduleWizardController.DisplayWaitList}',
        GET_PARTICIPANT_DETAILS: '{!$RemoteAction.ScheduleWizardController.getParticipantDetails}',
        GET_CLASS_APPOINTMENT_DATA: '{!$RemoteAction.ScheduleWizardController.getEvents}',
        GET_APPOINTMENT_DATA: '{!$RemoteAction.ScheduleWizardController.getAppointmentDetails}',
        DELETE_APPOINTMENT: '{!$RemoteAction.ScheduleWizardController.DeleteAppointmentBooking}',
        DELETE_UNAVAILABLE_APPOINTMENT: '{!$RemoteAction.ScheduleWizardController.DeleteUnavailability}',
        GET_RESOURCE_AVAILABILITY_DATA: '{!$RemoteAction.ScheduleWizardController.getResourceAvailCalendar}',
        GET_FILTERED_RESOURCE_AVAILABILITY_DATA: '{!$RemoteAction.ScheduleWizardController.getFilterResourceAvailCalendar}',
        GET_ALL_APPOINTMENTS: '{!$RemoteAction.ScheduleWizardController.getAppointmentsAll}',
        GET_PATIENT_LIST: '{!$RemoteAction.ScheduleWizardController.getCustomerRecords}',
        REMOVE_PATIENT_FROM_CLASS: '{!$RemoteAction.ScheduleWizardController.removeCustomerFromClass}',
        GET_FILLFROMWAITLIST_DATA: '{!$RemoteAction.ScheduleWizardController.DisplayFillFromWaitList}',
        SAVE_UNAVAILABLE_APPOINTMENT: '{!$RemoteAction.ScheduleWizardController.saveUnavailability}'    
    }

</script>

</apex:page>